@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.11 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.962 0 0);
  --secondary-foreground: oklch(0.11 0 0);
  --muted: oklch(0.962 0 0);
  --muted-foreground: oklch(0.455 0 0);
  --accent: oklch(0.962 0 0);
  --accent-foreground: oklch(0.11 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.898 0 0);
  --input: oklch(0.898 0 0);
  --ring: oklch(0.145 0 0);
  --chart-1: oklch(0.629 0.257 262.881);
  --chart-2: oklch(0.699 0.195 165.388);
  --chart-3: oklch(0.493 0.193 259.026);
  --chart-4: oklch(0.837 0.153 81.257);
  --chart-5: oklch(0.75 0.232 24.165);
  --radius: 0.5rem;
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.11 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.962 0 0);
  --sidebar-accent-foreground: oklch(0.11 0 0);
  --sidebar-border: oklch(0.898 0 0);
  --sidebar-ring: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.11 0 0);
  --secondary: oklch(0.214 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.214 0 0);
  --muted-foreground: oklch(0.636 0 0);
  --accent: oklch(0.214 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.477 0.214 27.994);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.214 0 0);
  --input: oklch(0.214 0 0);
  --ring: oklch(0.832 0 0);
  --chart-1: oklch(0.578 0.184 70.067);
  --chart-2: oklch(0.699 0.195 165.388);
  --chart-3: oklch(0.493 0.193 259.026);
  --chart-4: oklch(0.837 0.153 81.257);
  --chart-5: oklch(0.75 0.232 24.165);
  --sidebar: oklch(0.145 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.985 0 0);
  --sidebar-primary-foreground: oklch(0.11 0 0);
  --sidebar-accent: oklch(0.214 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.214 0 0);
  --sidebar-ring: oklch(0.832 0 0);
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground;
}
